body{
  font-family: serif;
}
.toptoconcept{
  font-family: serif;
  background-image: url(https://github.com/celestial-R/celestial/blob/main/%E3%82%AF%E3%82%99%E3%83%A9%E3%83%86%E3%82%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B30630.png?raw=true);
  background-repeat: round;
  background-size: cover;
}

img{
  max-width: 100%;
}

#header{
  background-color: #ffffff;
}
ul.top{
  text-align: right;
}
ul.top li {
  margin: 40px;
  display: inline;
}
ul.top li:hover{background-color: #85daf6;}
#top {
  width: 100vw;
  height: 100vh;
/*   background-image: url(https://github.com/celestial-R/celestial/blob/main/%E3%82%AF%E3%82%99%E3%83%A9%E3%83%86%E3%82%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B30630.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 510px;
  height: 500px;

}
#concept{
  width: 100vw;
  height: 100vh;
/*   background-image: url(https://github.com/celestial-R/celestial/blob/main/%E3%82%AF%E3%82%99%E3%83%A9%E3%83%86%E3%82%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B30630.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;

}
h2.color{
  font-size: 40px
  color: #545454;
  font-weight: normal;
  position: absolute;
  top:5%;
  left:45%;
}
h2.colorsp{
  font-size: 40px
  color: #545454;
  font-weight: normal;
  position: absolute;
  top:5%;
  left:45%;
}
.container{
  display: flex;
  justify-content: space-around;
  padding:200px 100px;


}
.concept-logo{
  width:450px;
  height: 450px;
  position: relative;

}
.logo-messege{
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-30%,-50%);
  font-size: 25px;
  color:#545454;

}

.about-concept{
  font-size: 24px;
  color: #545454;

}
.conceptone{
  padding: 12px;
}
.concepttwo{
  padding: 12px;
}
h2{
  font-size: 40px
  color: #545454;
  font-weight: normal;
  text-align: center;
  margin: 5% auto;

}
.h2-img{
  height:80px;
  width:80px;

  position: absolute;
  left:50%;
  z-index: 4;
}

#menu{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top:20px;
}
.menu-card{
  height: 423px;
  width: 309px;
  margin-top:50px;
}
h3{
  text-align: center;
  color: #545454;
  font-weight: normal;
}
.menu-card-content{
  text-align: center;
  color: #545454;
}
.card-box{
  display:flex;
  justify-content: space-around;
}
.menuimg{
  width:300px;
  height:250px;
}
#portfolio{
  width: 100vw;
  height: 100vh;
/*   background-image: url(https://github.com/celestial-R/celestial/blob/main/%E3%82%AF%E3%82%99%E3%83%A9%E3%83%86%E3%82%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B30630.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  padding-top:20px;
}
.portfolio-box{
  display:flex;
  justify-content: space-around;
}
.portfolio-content{

  display:block;
  font-size: 18px;
  margin-top: 60px;
  text-align: center;
  color: #545454;
}
.portfolio-content2{

  display:block;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  color: #545454;
}
.portfolioimag{
  width:280px;
  height:280px;
}
#portfolio2{
  width: 100vw;
  height: 100vh;
/*   background-image: url(https://github.com/celestial-R/celestial/blob/main/%E3%82%AF%E3%82%99%E3%83%A9%E3%83%86%E3%82%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B30630.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  padding-top:20px;
  display: none;
}
.portfolioimag2{
  width:200px;
  height:200px;
}
.portfolio-box-inner1{
  display: flex;
  justify-content: space-around;

}
.portforio-box-inner2{
  display: flex;
  justify-content: center;
}
.pc-portfolio-box2{
  padding: 1%;
}
.sp-portfolio-box2{
  display:none;
}
.latter{
  margin: 10px 50px;
}
#contact{
  width: 100vw;
  height: 100vh;
/*   background-image: url(https://github.com/celestial-R/celestial/blob/main/%E3%82%AF%E3%82%99%E3%83%A9%E3%83%86%E3%82%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B30630.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  background-position: center;
}
.contact-container{
  display:flex;
  justify-content: center;
  padding: 20px 50px;
  position: absolute;
  top:20%;
  left:10%;
}
.contactblock{
  height: 550px;
  width:450px;

}
.btn-contact{
  display: block;
  width:296px;
  height:70px;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 0.06em;
  border-radius: 35px;
  text-align: center;
  line-height: 70px;
  margin:20% auto;
  background-color: #9ca3bc;
  color: #ffffff
}
.instagram{
  height: 100px;
  width: 100px;

}
.twitter{
  height: 100px;
  width: 100px;

}
.icons{
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
}
.underconstruction{
  display:block;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  color: #545454;
}
.btn-contact:hover{background-color: #da8add;}

@media screen and (max-width: 768px) {

  #top,#concept{
    max-width: 100%
  }

  #concept{
    height: auto;
  }
  .logo {
    width: 200px;
    height: 200px;

  }
  ul.top{
    text-align: center;
    padding:0;
  }
  ul.top li {
    margin: 10px;
    display: inline;
  }
  h2.color{
    transform: translate(-50%,-50%);
    top: 5%;
    left: 50%;
  }
  .container{
    display: block;
    padding:20% 5%;

  }
  .concept-logo{
    width:90%;
    height: 100%;
    position: relative;

  }
  .whitewing{
    max-width:100%
  }
  .logo-messege{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-30%,-50%);
    font-size: 17px;
    color:#545454;

  }

  .about-concept{
    width:100%;
    font-size: 16px;
    color: #545454;

  }
  .conceptone{
    padding: 12px;
    display: block;
    text-align: center;
  }
  .concepttwo{
    padding: 12px;
    display: block;
    text-align: center;
  }
  #menu{
    height: auto;
  }

  .card-box{
    display: block;
  }
  .menu-card{
    margin: auto;
  }

  #portfolio{
    width: 100vw;
    height:auto;
/*     background-image: url(https://github.com/celestial-R/celestial/blob/main/%E3%82%AF%E3%82%99%E3%83%A9%E3%83%86%E3%82%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B30630.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    padding-top:20px;
  }
  .portfolio-box{
    display: block;
    text-align: center;
  }
  .portfolioimag {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  .portfolio-content{
    margin: 20px;
  }
  #portfolio2{
    width: 100vw;
    /* 高さはauto */
    height: auto;
/*     background-image: url(https://github.com/celestial-R/celestial/blob/main/%E3%82%AF%E3%82%99%E3%83%A9%E3%83%86%E3%82%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B30630.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    padding-top:20px;
    display:none;
  }
  .portfolioimag2{
    width:200px;
    height:200px;
    margin:10px;
  }

  .pc-portfolio-box2{
    display: none;
  }

  .sp-portfolio-box2{
    display: block;
    padding: 1%;
    text-align: center;
  }
  .contact-container{
    display:block;
    justify-content: center;
    padding: 0;
    margin-bottom: auto;


  }
  .contactblock{
    height: auto;
    width:auto;
    justify-content: center;

  }
  .right{
    display: none;
  }
  .btn-contact{
    display: block;
    width:296px;
    height:70px;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.06em;
    border-radius: 35px;
    text-align: center;
    line-height: 70px;
    margin:20% auto;
    background-color: #9ca3bc;
    color: #ffffff
  }
  .instagram{
    height: 100px;
    width: 100px;

  }
  .twitter{
    height: 100px;
    width: 100px;

  }
  .icons{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
  }
  .underconstruction{
    display:block;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: #545454;
  }
  h2.colorsp{
    font-size: 40px
    color: #545454;
    font-weight: normal;
    position: absolute;
    top:10%;
    left:39%;
    
  }


}
